<body style="background-color: #e8ad2e">
<p id="notice"><%= notice %></p>
<div class="card">
<%= @alumni_news_letter.news_letter_html.html_safe %>
  </div>

<%= link_to 'Back', alumni_news_letters_path %>
</body>