<div class="col-md-6 center-block row">
  <div class="card" align="center">
<body style="background-color: #e8ad2e">
<p id="notice"><%= notice %></p>
<%= @alumni_news_letter.news_letter_html.html_safe %>
<%= link_to 'Back', alumni_news_letters_path, :class => "h1" %>
</body>
      </div>
    </div>