<table>
  <tr>
  <th>User Email</th>
          <th>User's DCE</th>
          <th>Due Back</th>
          <th>Check Bike In Link</th>
        </tr>
        <% @checked_outs.each do |checked_out_bikes| %>
            <tr>
              <td><%= checked_out_bikes.bike_id %></td>
              <% user = User.find( checked_out_bikes.user_id)%>
              <td><%= user.login %></td>
              <td><%= checked_out_bikes.checkout_time.strftime("%B %d, %I:%M") %></td>
              <td><%= link_to 'Check Bike In', edit_checked_out_path(checked_out_bikes) %></td>
            </tr>
        <% end %>
      </table>
