<div class="row">
  <h2 id='#ExecutiveBoard' style="text-align: center;">Executive Board</h2>
  <hr>
  <ul class="flipping-cards">
    <% @eboard.each do |position| %>
        <%= render 'contact_position', position: position, position_type: 'eboard'%>
    <% end %>
  </ul>
  <div style="float: none; clear:both;"> </div>

  <h2 id='#Chairs' style="text-align: center;">Chairs</h2>
  <hr>
  <ul class="flipping-cards">
    <% @chairs.each do |chair| %>
    <%= render 'contact_position', position: chair, position_type: 'chair'%>
    <% end %>
  </ul>
  <div class="clear"> </div>

  <h2 id="'#CurrentBrothers" style="text-align: center;">Current Brothers</h2>
  <hr>
  <ul class="flipping-cards">
    <% @brothers.each do |brother| %>
        <%= render 'contact_member', user: brother %>
    <% end %>
  </ul>
  <div class="clear"> </div>

  <h2 id='#AssociateMembers' style="text-align: center;">Current Associate Members</h2>
  <hr>
  <ul class="flipping-cards">
    <% @associate_members.each do |associate_member| %>
        <%= render 'contact_member', user: associate_member %>
    <% end %>
  </ul>
  <div class="clear"> </div>
</div>
