<body>
  <ul class="flipping-cards">
    <li>
      <input type="checkbox" id="item1">
      <label for="item1">
        <span class="wrapper">
          <span class="front">
            <img style="width: auto; height: 170px; display: block; margin-left: auto; margin-right: auto" src="http://i.imgur.com/DMKgTjL.jpg">
            <h2>President:</h2>
            <h3> Madison Doolittle</h3>
          </span>
          <span class="back">
            <h2>Email:</h2>
            <h3>mld5448@rit.edu</h3>
            <h2>Major:</h2>
            <h3>Biomedical Sciences</h3>
            <h2>Home Town:</h2>
            <h3>Pittsford, NY</h3>
          </span>
        </span>
      </label>
    </li>
    <li>
      <input type="checkbox" id="item2">
      <label for="item2">
        <span class="wrapper">
          <span class="front">
            <img style="width: auto; height: 170px; display: block; margin-left: auto; margin-right: auto" src="http://i.imgur.com/fsUNgMW.jpg">
            <h2>First VP:</h2>
            <h3>Kent Derbyshire</h3>
          </span>
          <span class="back">
            <h2>Email:</h2>
            <h3>kld4491@rit.edu</h3>
            <h2>Major:</h2>
            <h3>Mechanical Engineering</h3>
            <h2>Home Town:</h2>
            <h3>Watertown, NY</h3>
          </span>
        </span>
      </label>
    </li>
    <li>
      <input type="checkbox" id="item3">
      <label for="item3">
        <span class="wrapper">
          <span class="front">
            <img style="width: auto; height: 170px; display: block; margin-left: auto; margin-right: auto" src="http://i.imgur.com/b9UMSnB.jpg">
            <h2>Second VP:</h2>
            <h3>Paul Bianco</h3>
          </span>
          <span class="back">
            <h2>Email:</h2>
            <h3>pxb9965@g.rit.edu</h3>
            <h2>Major:</h2>
            <h3>Biomedical Sciences</h3>
            <h2>Home Town:</h2>
            <h3>Pittsford, NY</h3>
          </span>
        </span>
      </label>
    </li>
    <li>
      <input type="checkbox" id="item4">
      <label for="item4">
        <span class="wrapper">
          <span class="front">
            <img style="width: auto; height: 170px; display: block; margin-left: auto; margin-right: auto" src="http://i.imgur.com/3Sz8haT.jpg">
            <h2>Treasure:</h2>
            <h3>Peter Webster</h3>
          </span>
          <span class="back">
            <h2>Email:</h2>
            <h3>pcw3752@rit.edu</h3>
            <h2>Major:</h2>
            <h3>Mechanical Engineering</h3>
            <h2>Home Town:</h2>
            <h3>Cazenovia, NY</h3>
          </span>
        </span>
      </label>
    </li>
    <li>
      <input type="checkbox" id="item5">
      <label for="item5">
        <span class="wrapper">
          <span class="front">
            <img style="width: auto; height: 170px; display: block; margin-left: auto; margin-right: auto" src="http://i.imgur.com/Xzx4dci.jpg">
            <h2>Chaplain:</h2>
            <h3>Kyle Grant</h3>
          </span>
          <span class="back">
            <h2>Email:</h2>
            <h3>kpg1737@rit.edu</h3>
            <h2>Major:</h2>
            <h3>Marketing</h3>
            <h2>Home Town:</h2>
            <h3>Croton-on-Hudson, NY</h3>
          </span>
        </span>
      </label>
    </li>
    <li>
      <input type="checkbox" id="item6">
      <label for="item6">
        <span class="wrapper">
          <span class="front">
            <img style="width: auto; height: 170px; display: block; margin-left: auto; margin-right: auto" src="http://i.imgur.com/3Sz8haT.jpg">
            <h2>Sargent:</h2>
            <h3>Hayden Burger</h3>
          </span>
          <span class="back">
            <h2>Email:</h2>
            <h3>heb3544@rit.edu</h3>
            <h2>Major:</h2>
            <h3>Mechanical Engineering</h3>
            <h2>Home Town:</h2>
            <h3>Mayflower, AK</h3>
          </span>
        </span>
      </label>
    </li>
  </ul>
  <div style="float: none; clear:both;"> </div>
</body>
    