<div class="card">
<p class="western" style="margin-bottom: 0in; line-height: 100%">Brothers &ndash;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">50 Years. A golden anniversary. A milestone worthy of celebration.</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Let that number to sink in for a minute. Think about what that means - for an organization, an institution, to celebrate 50 years?</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">It is a measure of endurance. It signifies stability. Permanence. In fact, as of this writing, the Phi Kappa Tau fraternity is the longest active Greek organization on the RIT campus.</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">In 1966, almost 50 years ago, a bunch of young men got together and decided to make the progression from a local fraternity to a national fraternity. Thus Kappa Phi Omega became the Gamma Nu chapter of the Phi Kappa Tau fraternity.</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Consider the decisions and directions decided by those young men that day so many years ago. They started a local fraternity on their own but struggled with a static membership group for the first two years. After a review of the national Greek organizations, the Phi Kappa Tau fraternity was selected because of the strong sense of shared ideals. With the organizational help from the national fraternity in less than two years as a colony we were officially chartered as the Gamma Nu chapter of the Phi Kappa Tau fraternity on April 2, 1966.</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Gamma Nu has had a fair amount of success over the past 50 years. Our impressive accomplishments include:</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<ul>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Twice awarded the Maxwell trophy for best chapter</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Two Shideler Award winners: Dave Arlington and Phil Frandina</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Phi Kappa Tau Hall of Fame award: Stan McKenzie and Gary Proud</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Phi Award (service to chapter): Gary Proud, Tom Steele, Gary Gasper, Tim Irwin</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Brandon Award (outstanding advisor): Fr. James Sauers, Gary Gasper (2x)</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Won the &ldquo;RIT Outstanding Greek Chapter&rdquo; award twice (1980, 1990)</p>
  </li>
</ul>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Think about all of the changes over the past 50 years. <font color="#000000">Moving from our original house in downtown Rochester to our second house at the Sundial in the Henrietta campus dorms in 1968. Thanks to RIT this location was later traded for a college built fraternity house second to none in 2001</font><font color="#000000"><font face="Geneva"><font style="font-size: 10pt">.</font></font></font> Later, through the beneficial actions of a key alumni, an off campus presence was secured. This guaranteed the fraternity an independent meeting place of its own. A place to continue the fun, the memories and the bonds of brotherhood.</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">These bonds are the reason we are reaching out to all alumni across the country to inform you of two specific items:</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<ol>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">A banquet to be held on <b>April 2</b><sup><b>nd</b></sup>, <b>2016</b> &ndash; exactly 50 years after the original charter</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">A &ldquo;<b>50K for 50 Years</b>&rdquo; fundraising initiative &ndash; with a goal of reaching $50,000 in time for the 50<sup>th</sup> anniversary celebration.</p>
  </li>
</ol>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Will you be there with us to celebrate this event?</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">A celebratory banquet will be held at the Golden Ponds restaurant in Greece NY on April 2<sup>nd</sup>, 2016. We plan to make this a weekend long celebration. While the other events for the weekend have yet to be finalized, we did want to send out this initial letter asking you to do the following:</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<ul>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Mark this date on your calendar. Do not let distractions like weddings, or work get in the way.</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Spread the word. Phi Taus now range the world far and wide and we don&rsquo;t have a means to contact everyone. Let&rsquo;s set a goal to get at least a 50% participation rate (for the 50k for the 50<sup>th</sup>).</p>
  </li>
</ul>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Regarding the &ldquo;50 for 50&rdquo; campaign &ndash; this will not be your typical fundraising event. All proceeds raised will be carefully managed by the Board of Governors with specific oversight by Gary Proud and Gary Gasper. The money raised will NOT be wasted funding beer for the undergraduates but instead will be allocated to one of the following:</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<ol>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">A capital reserve fund for the off campus house &ndash; for necessary maintenance needs such as a furnace or roof</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Paying down the mortgage for the off campus house &ndash; currently at $72,000</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Chapter Education Grant (CEG), scholarships for deserving Gamma Nu undergraduates, covering undergraduate development expenses such as travel to attend national conferences, registration costs, and chapter retreats.</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Greatest need as determined by the Board of Governors</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Other ideas &ndash; if you have a specific idea, attach it to your donation</p>
  </li>
</ol>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">As with prior fundraising campaigns, donors will be permanently recognized for all time. We have established five levels of contribution:</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<ul>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Kitchen Raiders - $100 to $199</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Mug Club - $200 - $499</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Charter Club - $500 - $999</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Shoot the Boot &ndash; $1,000 - $2,499</p>
  </li>
  <li>
    <p class="western" style="margin-bottom: 0in; line-height: 100%">Milestones - $2,500+</p>
  </li>
</ul>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">All donations of $100 or more will be recognized via a plaque that will be located prominently in the chapter house. Donations of $1,000 will be recognized in a new row of bricks that will frame the sidewalk of the existing chapter house (the Legacy Sidewalk). Bricks can be inscribed at the wish of the individual donor (maximum of 3 lines).</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">We don&rsquo;t want you to give until it hurts &ndash; WE WANT YOU TO GIVE UNTIL IT FEELS GOOD.</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Leading the way, Gary Gasper has made a very generous initial contribution to the fundraising campaign. His leadership gift of <u><b>$3,500</b></u> is an excellent start and a positive sign that the goal of $50,000 will be attained in time for the banquet.</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">This will truly be an historic event and we would like to see as many old faces as possible to help us celebrate. A special event committee has been established to act as specific points of contact for questions or to help spread the word. The following brothers have volunteered to be co-chairmen:</p>

<center>
  <table cellpadding="7" cellspacing="0" width="466">
    <colgroup>
      <col width="76" />
      <col width="123" />
      <col width="223" />
    </colgroup>
    <tbody>
    <tr valign="bottom">
      <td height="6" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in" width="76">
        <p align="center" class="western"><font style="font-size: 11pt">Decade</font></p>
      </td>
      <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in" width="123">
        <p align="center" class="western"><font style="font-size: 11pt">Representative</font></p>
      </td>
      <td style="border: 1px solid #000000; padding: 0in 0.08in" width="223">
        <p align="center" class="western"><font style="font-size: 11pt">Email Address</font></p>
      </td>
    </tr>
    </tbody>
    <tbody>
    <tr valign="bottom">
      <td height="7" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in" width="76">
        <p align="center" class="western"><font style="font-size: 11pt">1960&#39;s</font></p>
      </td>
      <td style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in" width="123">
        <p align="center" class="western"><font style="font-size: 11pt">Gary Proud</font></p>
      </td>
      <td style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0in 0.08in" width="223">
        <p align="center" class="western"><a href="mailto:thedonatgammanu@aol.com"><font color="#0000ff"><font face="Arial, sans-serif"><font style="font-size: 10pt"><u>thedonatgammanu@aol.com</u></font></font></font></a></p>
      </td>
    </tr>
    </tbody>
    <tbody>
    <tr valign="bottom">
      <td height="7" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in" width="76">
        <p align="center" class="western"><font style="font-size: 11pt">1970&#39;s</font></p>
      </td>
      <td style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in" width="123">
        <p align="center" class="western"><font style="font-size: 11pt">Chris DuMont</font></p>
      </td>
      <td style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0in 0.08in" width="223">
        <p align="center" class="western"><a href="mailto:cld36@aol.com"><font color="#0000ff"><font face="Arial, sans-serif"><font style="font-size: 10pt"><u>cld36@aol.com</u></font></font></font></a></p>
      </td>
    </tr>
    </tbody>
    <tbody>
    <tr>
      <td height="6" rowspan="1" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in" width="76">
        <p align="center" class="western"><font style="font-size: 11pt">1980&#39;s</font></p>
      </td>
      <td style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in" valign="bottom" width="123">
        <p align="center" class="western"><font style="font-size: 11pt">Steve Marsh</font></p>

        <p align="center" class="western"><span style="font-size: 15px; text-align: -webkit-center;">Matt Hartenstein</span></p>
      </td>
      <td style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0in 0.08in" valign="bottom" width="223">
        <p align="center" class="western"><a href="mailto:steven.marsh@gmail.com"><font color="#0000ff"><font face="Arial, sans-serif"><font style="font-size: 10pt"><u>steven.marsh@gmail.com</u></font></font></font></a></p>

        <p align="center" class="western"><a href="mailto:matt@finefocus.com" style="text-align: -webkit-center;"><font color="#0000ff"><font face="Arial, sans-serif"><font style="font-size: 10pt;"><u>matt@finefocus.com</u></font></font></font></a></p>
      </td>
    </tr>
    </tbody>
    <tbody>
    </tbody>
    <tbody>
    <tr valign="bottom">
      <td height="6" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in" width="76">
        <p align="center" class="western"><font style="font-size: 11pt">1990&#39;s</font></p>
      </td>
      <td style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in" width="123">
        <p align="center" class="western"><font style="font-size: 11pt">Greg Laubisch</font></p>
      </td>
      <td style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0in 0.08in" width="223">
        <p align="center" class="western"><a href="mailto:glaubisch@hotmail.com"><font color="#0000ff"><font face="Arial, sans-serif"><font style="font-size: 10pt"><u>glaubisch@hotmail.com</u></font></font></font></a></p>
      </td>
    </tr>
    <tr>
      <td height="6" style="border-style: none none solid solid; border-bottom-width: 1px; border-bottom-color: rgb(0, 0, 0); border-left-width: 1px; border-left-color: rgb(0, 0, 0); padding: 0in 0in 0in 0.08in; text-align: center;" width="76"><span style="font-size: 15px; text-align: -webkit-center;">2000&#39;s</span></td>
      <td style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in" width="123">
        <p style="text-align: center;"><span style="font-size: 15px; text-align: -webkit-center;">Phil Frandina</span></p>

        <p style="text-align: center;"><span style="font-size: 15px; text-align: -webkit-center;">Tom Baxley</span></p>
      </td>
      <td style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0in 0.08in" width="223">
        <p style="text-align: center;"><u style="color: rgb(0, 0, 255); text-align: -webkit-center;"><a href="mailto:phil.frandina@gmail.com"><font face="Arial, sans-serif"><font style="font-size: 10pt;">phil.frandina@gmail.com</font></font></a></u></p>

        <p style="text-align: center;"><u style="color: rgb(0, 0, 255); font-family: Arial, sans-serif; font-size: 13px; text-align: -webkit-center;">tom@tombaxley.net</u></p>
      </td>
    </tr>
    </tbody>
    <tbody>
    </tbody>
  </table>
</center>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">In addition, past president Tom Baxley has established an alumni Facebook page. The page is called <u>Gamma Nu Alums</u>. Feel free to stop by, add a comment and start talking up <u>the</u> social event of 2016!</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Formal invitations for the banquet will be handled by RIT and will be sent as we get closer to the actual date. Donations for the &ldquo;50 for 50&rdquo; club will be gladly accepted from now through the official 50<sup>th</sup> celebration. If you are willing and able to donate, please use the form below. We thank you in advance for your contributions to this historic fundraiser. Checks should be made out to:</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Gamma Nu of Phi Kappa Tau</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">P.O. Box 215</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">West Henrietta NY 14586</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Paypal Instructions &ndash; send donations to:</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">pktbogtreasurer@gmail.com</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">In Phi,</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">&nbsp;</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Gary Proud</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Gary Gasper</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Chris DuMont</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Tim Irwin</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Steve Marsh</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Matt Hartenstein</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Greg Laubisch</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Phil Frandina</p>

<p class="western" style="margin-bottom: 0in; line-height: 100%">Tom Baxley</p>
</div>