<div class="row">
  <div class="padding-bot col-md-6 col-md-offset-3">
    <div class="card">
      <h4>RIT Awards</h4>
      <ul>
        <li>1968 – Greek Football Trophy – 6-0-1</li>
        <li>1974 – Greek Basketball Trophy</li>
        <li>1978 – All Greek Sports Trophies</li>
        <li>1979 – All Greek Sports Trophies</li>
        <li>1980 – All Greek Sports Trophies, Outstanding Greek Chapter at RIT</li>
        <li>1982 – 1983 – Outstanding Community Service</li>
        <li>1985 – 1986 – Sportsmanship Trophy</li>
        <li>1985 – 1986 – James Neri was named Outstanding Greek Man On Campus</li>
        <li>1990 – Outstanding Greek Chapter at RIT</li>
        <li>2009 - 2010 - Chapter Excellence in Chapter and Risk Management</li>
        <li>2010 - 2011 - Chapter Excellence in Chapter and Risk Management</li>
      </ul>

      2)      Massock Award 1976  (Alumni Communications)
      <h4>National Awards</h4>
      <ul>
        <li>1975 – Angelo Award</li>
        <li>1976 – Massock Award</li>
        <li>1977 – Administrative Excellence</li>
        <li>1978 – Administrative Excellence, Angelo Award</li>
        <li>1978 – David Arlington wins the Shideler Award</li>
        <li>1978 – G. Christopher Belle-Ilses recognized with Dr. Edgar Ewing Brandon Award</li>
        <li>1981 – Administrative Excellence, Maxwell – Division II</li>
        <li>1983 – Administrative Excellence, Maxwell – Division II</li>
        <li>1984 – Administrative Excellence, Gary Gasper recognized with Dr. Edgar Ewing Brandon Award</li>
        <li>1985 – Administrative Excellence, Maxwell – Division II</li>
        <li>1986 – Gary Gasper wins Phi Award</li>
        <li>1989 – Administrative Excellence</li>
        <li>1992 – Tim Irwin wins Phi Award</li>
        <li>1995 – Father James Sauers recognized with Dr. Edgar Ewing Brandon Award</li>
        <li>1999 – Administrative Excellence</li>
        <li>2000 – Gary Gasper recognized with Dr. Edgar Ewing Brandon Award, Thomas R. Steele wins Phi Award</li>
        <li>2002 – Gary Proud wins Phi Award</li>
        <li>2005 – Massock Award</li>
        <li>2007 – Administrative Excellence</li>
        <li>2009 – Administrative Excellence, Most Improved Chapter</li>
        <li>2011 - Phil Frandina wins Shideler Award</li>
      </ul>

      <h4>Phi Kappa Tau National Hall of Fame Members</h4>
      <ul>
        <li>2008 – Gary Proud</li>
        <li>2008 – Stan McKenzie</li>
      </ul>

      <h4>Gamma Nu Legacies</h4>
        <ul>
          <li>Paul and Steve Clark</li>
          <li>Chris and Richard Miller</li>
          <li>Cosmo and Dameon Tedone</li>
          <li>Jay and Dave Berry</li>
          <li>Dave Updike, his Father and his Grandfather</li>
          <li>Greg and Matt Forbaugh</li>
          <li>Jim and Tom Perry</li>
          <li>Chris and John Harris</li>
          <li>Paul and Mike Hemmer</li>
          <li>Dominick and Anthony Perritano</li>
          <li>Jobeth and John Bowers</li>
          <li>Steve Nims and Rob Sauda</li>
          <li>Emmett and Jackson Coakley</li>
          <li>Danny and Cody Abdeen</li>
          <li>Joe and Zack Olmsted</li>
      </ul>
    </div>
  </div>
</div>