<div class="row">
  <div class="padding-bot col-md-6 col-md-offset-3">
    <div class="card">
      <p>National Headquarters:</p>
      <p>5221 Morning Sun Road, Oxford, Ohio 45056</p>
      <p>(800) PKT-1906 or (513) 523-4193</p>

<p>Founded:</p>

<p>March 17, 1906, at Miami University in Oxford, Ohio</p>
<p>Membership:</p>

      <p>146 chapters chartered since 1906</p>
      <p>82 active chapters</p>
      <p>3 colonies</p>
      <p>Approximately 3,200 undergraduate members</p>
      <p>More than 82,000 initiates</p>
      <p>Largest concentration of alumni: Louisville; Cincinnati; Houston; Chicago; Cleveland; Atlanta; Seattle; Denver; Columbus, Ohio; and Lincoln, Neb.</p>
      <p>Foundation:</p>

      <p>Incorporated as an Ohio not-for-profit in 1945</p>
      <p>Asset base exceeds $10 million</p>
      <p>National Magazine:</p>

      <p>The Laurel</p>
      <p>National Philanthropy:</p>

      <p>Serious Fun Network (formerly the Hole in the Wall Camps)</p>
    </div>
  </div>
</div>