<div class="card">
  National Headquarters:
5221 Morning Sun Road, Oxford, Ohio 45056
(800) PKT-1906 or (513) 523-4193

Founded:

March 17, 1906, at Miami University in Oxford, Ohio
Membership:

146 chapters chartered since 1906
82 active chapters
3 colonies
Approximately 3,200 undergraduate members
More than 82,000 initiates
Largest concentration of alumni: Louisville; Cincinnati; Houston; Chicago; Cleveland; Atlanta; Seattle; Denver; Columbus, Ohio; and Lincoln, Neb.
Foundation:

Incorporated as an Ohio not-for-profit in 1945
Asset base exceeds $10 million
National Magazine:

The Laurel
National Philanthropy:

Serious Fun Network (formerly the Hole in the Wall Camps)
    </div>