<div class="row">
  <div class="col-md-8 col-md-offset-2 top-card-padding">
    <div class="card">
      <div align="center">
        <h1>Resources</h1>
        <hr>
        <% if current_user.confirmed_brother? %>
            <%= render 'static_pages/brother_resource' %>
        <% end %>
        <% if current_user.multiple_have_permissions?(['potential new member']) %>
            <%= render 'static_pages/potential_resource' %>
        <% end %>
        <div class="clear">
        </div>
      </div>
    </div>
  </div>
</div>