<div class="row">
  <div class="gallery_images">
    <% @paddles.each do |paddle| %>
        <a  href='<%= paddle.picture_url %>' data-title='<%= paddle.pledge_class %>' rel="lightbox[paddles]"><img src="<%= paddle.picture_url %>" /></a>
    <% end %>
  </div>
</div>
