<tr style="background-color: #161817;">
  <td valign="top" width="100%" style="float: left;padding-left: 0px; padding-bottom: 0px; padding-top: 0px; padding-right: 0px;">
    <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooterConnectText">
      <tr>
        <td align="left" valign="top" style="font-family: Arial; font-size: 9pt; color: #ffffff; float: left;">
          If you have any questions send us an email at (insert president email) or alumni_relations@gammanu.org
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr style="background-color: #161817;">
  <td valign="top" width="100%" style="float: left;padding-left: 0px; padding-bottom: 0px; padding-top: 0px; padding-right: 0px;">
    <table border="0" cellpadding="0" cellspacing="0" id="emailFooterLinks" width="100%">
      <tr>
        <td align="center">
          <%= link_to (image_tag "http://www.nationalbeautyinstitute.com/images/facebook.png", style: 'width: 50px; height: auto;'), 'https://www.facebook.com/RITPhiTau' %>
          <%= link_to (image_tag "http://www.doctordigital.com.ar/main/images/twitter-logo-white.png", style: 'width: 50px; height: auto;'), 'https://twitter.com/RITPKT' %>
        </td>
      </tr>
    </table>
  </td>
</tr>