<tr>
  <td align="center" valign="top" style="padding-left: 0px; padding-bottom: 0px; padding-top: 0px; padding-right: 0px;">
    <%= image_tag 'https://s3.amazonaws.com/phitau/emails/phikappatau_header.png', style: 'width: 600px; height: auto;'%>
  </td>
</tr>