<tr>
  <td align="left" valign="top" style="padding-left: 10px; padding-bottom: 10px; padding-top: 0px; padding-right: 0px; color: #000000;">
    Hi <%= @user.first_name %>,
  </td>
</tr>
<tr>
  <td align="left" valign="top" style="padding-left: 10px; padding-bottom: 10px; padding-top: 0px; padding-right: 0px; color: #000000;">
    We wanted to let you know that there were a new submission for standards board. To see it you can <%= link_to 'click here', standards_boards_url %>
  </td>
</tr>
<tr>
  <td align="left" valign="top" style="padding-left: 10px; padding-bottom: 10px; padding-top: 0px; padding-right: 0px;color: #000000;">
    Have a nice day!
  </td>
</tr>