<p>Hey <%= @user.first_name %>,</p>

<p>There is a new user who just signed up!</p>
<p>The new user's name is <%= "#{@new_user.first_name} #{@new_user.last_name}"%> he signed up as a  <%= "#{@new_user.user_status}" %></p>

<p>To update information about this user you can click <a href='gammanu.org/users/all/edit'>here</a></p>
<p>If you want to send them a welcoming email their email is  <%= "#{@new_user.email }" %></p>

<p>Have a nice day!</p>

<p>Your friendly email notification service</p>
