<tr style="background-color: #5e0000;">
  <td align="left" valign="top" style="padding-left: 0px; padding-bottom: 10px; padding-top: 0px; padding-right: 0px; color: #ffffff;">
    Hey Paul,
  </td>
</tr>
<tr>
  <td align="left" valign="top" style="padding-left: 0px; padding-bottom: 10px; padding-top: 0px; padding-right: 0px; color: #ffffff;">
    There is a new user who just signed up!
  </td>
</tr>
<tr>
  <td align="left" valign="top" style="padding-left: 0px; padding-bottom: 10px; padding-top: 0px; padding-right: 0px; color: #ffffff;">
    The new user's name is Xavier Thompson he signed up as a potential new member
  </td>
</tr>
<tr>
  <td align="left" valign="top" style="padding-left: 0px; padding-bottom: 10px; padding-top: 0px; padding-right: 0px; color: #ffffff;">
    To update information about this user you can click here
  </td>
</tr>
<tr>
  <td align="left" valign="top" style="padding-left: 0px; padding-bottom: 10px; padding-top: 0px; padding-right: 0px; color: #ffffff;">
    If you want to send them a welcoming email their email is xavier.thompson95@gmail.com
  </td>
</tr>
<tr>
  <td align="left" valign="top" style="padding-left: 0px; padding-bottom: 10px; padding-top: 0px; padding-right: 0px;color: #ffffff;">
    Have a nice day!
  </td>
</tr>
<tr>
  <td align="left" valign="top" style="padding-left: 0px; padding-bottom: 0px; padding-top: 0px; padding-right: 0px;color: #ffffff;">
    Your friendly email notification service
  </td>
</tr>