<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rush_interview.user %>
</p>

<%= link_to 'Edit', edit_rush_interview_path(@rush_interview) %> |
<%= link_to 'Back', rush_interviews_path %>
