<div class="row">
  <div class="col-md-10 col-md-offset-1 top-card-padding">
    <div class="card">
      <div align="center">
        <h1>Add your info</h1>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>