<div class="row">
  <div class="col-md-10 col-md-offset-1 top-card-padding">
    <div class="card">
      <div class="posts_checkboxes">
        <h1 align="center">Community Services Hours For Each Brother</h1>

        <table class="user-all-edit-table">
          <thead>
          <tr>
            <th>Brothers Name</th>
            <th>Total Hours</th>
            <th>All Submitted Events</th>
          </tr>
          </thead>

          <tbody>
          <% @users.each do |user| %>
              <tr>
                <td><%= "#{user.first_name} #{user.last_name}" %></td>
                <td><%= total_hours(user) %></td>
                <td>Link to See all of your hours is Coming Soon!></td>
              </tr>
          <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Community service', new_community_service_path %>
      </div>
    </div>
  </div>
</div>