<h1>Listing community_services</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @community_services.each do |community_service| %>
      <tr>
        <td><%= link_to 'Show', community_service %></td>
        <td><%= link_to 'Edit', edit_community_service_path(community_service) %></td>
        <td><%= link_to 'Destroy', community_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Community service', new_community_service_path %>
