<div class="row">
  <div class="col-md-8 col-md-offset-2 top-card-padding">
    <div class="card">
      <h1 align="center">New Community Service Report</h1>
      <br/>
      <%= render 'form' %>
      <%= link_to 'Back', community_services_path %>
    </div>
  </div>
</div>