<div class="row">
  <div class="col-md-8 col-md-offset-2 top-card-padding">
    <div class="card">
      <h1 align="center">
        Editing role
      </h1>

      <%= render 'form' %>

      <%= link_to 'Show', @role %> |
      <%= link_to 'Back', roles_path %>
    </div>
  </div>
</div>