<p id="notice"><%= notice %></p>
<div>
<h1 align="center">
  <%= @gallery.name %>
</h1>
</div>
<div style="float: left;">
<% @gallery.images.each do |image| %>
   <%= link_to (image_tag image.name), image_path(image.id), class: 'gallery_images' %>
<% end %>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />