<p id="notice"><%= notice %></p>
<div>
<h1 align="center">
  <%= @gallery.name %>
</h1>
</div>
<div style="float: left;">
<% @gallery.images.each do |image| %>
   <%= (link_to (image_tag image.picture_url), image_path(image.id), class: 'gallery_images') if(!image.empty? and image.picture?) %>
<% end %>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />