$HarvardRed: #5e0000;
$White: #FFFFFF;
$Black: #000000;
$FooterBackground: #161817;
$H1_header: 3rem;
$H3_header: 1.7rem;
$screen-xs-min: 300px;
$screen-sm-min: 400px;
$screen-md-min: 800px;
$screen-lg-min: 1200px;
$grid-float-breakpoint: $screen-md-min;

// Header
//Color of background of the header
.navbar-default {
  background-color: $HarvardRed;
  border-color: $HarvardRed;
}
.navbar-default .navbar-nav > li > a {
  color: $White;
  font-family: inherit;
  font-size: 1.7rem;
  display: inline-block;
}

//Div Display for Phi Kappa Tau \n Learning Leading Serving
//Widith allows text to be seen in line on half the screen
//inline-block and vertical middle help center the image and text
//float left puts the text right next to it
.phi_tau_text{
  display: inline-block;
  vertical-align: middle;
  float: left;
  position: absolute;
}

.header_img {
  display: inline-block;
  height: 14rem;
  vertical-align: middle;
  float: left;
}

.navbar-brand > img {
  display: inline-block;
  width: auto;
  height: 12rem;
  vertical-align: middle;
}

.h1-header {
  color: $White;
  font-size: $H1_header;
  position: relative;
  top: 1rem;
}
.h3-header {
  color: $White;
  font-size: $H3_header;
}

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse{
  display: inline-block !important;
  vertical-align: middle;
  width: 50%;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  display: inline-block;
  vertical-align: middle;
  width: 12rem;
}
.nav-collapse, .nav-collapse.collapse {
  overflow: visible;
}
.navbar .btn-navbar {
  display: none;
}
//End of the header
//Start of the footer
a:hover{
  background-color: transparent !important;
}
.navbar-bottom {
  min-height: 2rem;
  background-color: #161817;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.footer {
  background-color: $FooterBackground;
  padding-top: 1rem;
  padding-bottom: 2rem;
  position: relative;
  bottom: 0;
}
//End of the footer
//Home Page
.post_img{
  width: 40%;
  float: left;
  height: auto;
}

.post_text{
  float: right;
  width: 60%;
  padding-left: 20px;
}

.post_header{
  text-align:center;
  text-decoration: underline;
}

.clear{
  float: none;
  clear:both;
}
//End of Home PAge
//Start of cards for user account page
.user_img{
  width: 50%;
  float: left;
  height: auto;
}

.user_info{
  float: right;
  width: 50%;
  padding-left: 20px;
}

.padding-bot{
  padding-bottom: 3rem;
}
//text changes
.black_h2{
  color: $Black;
}


//text alignment

.navbar-right {
  float: right !important;
  display: inline-block;
 }


.card {
  padding:1.5rem;
  box-shadow:0 10px 14px rgba(10,10,10,.6);
  background: $White;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
  margin: 0 auto;
  padding-bottom: 3rem;
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #000000;
  margin: 1em 0; padding: 0;
}

//Flipping Cards


.flipping-cards li{position:relative; float:left; margin-right:10px;}
.flipping-cards label{ display:block; width:200px; height:250px; cursor:pointer;}

.flipping-cards .wrapper{
  display:block; width:200px; height:250px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transition: all 2.50s;
  -moz-transition: all .50s;
  transition: all .50s;
}
.flipping-cards .wrapper span{
  display:block;
  width:200px;
  height:250px;
  position:absolute;
  top:0;
  left:0;
  margin-left: 2px;
  margin-right: 2px;
}

.flipping-cards label .front{
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
  backface-visibility:hidden;
  background-size: 70px 120px;
  background-color: #fff;
}

.flipping-cards label .back{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
  background-color: #fff;
}

.flipping-cards input[type="checkbox"]:checked + label .wrapper{
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

input[type="checkbox"]{display:none;}
ul,li{list-style:none;padding:0;margin:0;}

/*_________________  Accordion
________________________________________*/
.accordion {
  position: relative;
  margin: 60px auto;
  width: 80%;
}

.accordion:hover{
  background-color: #5E0000 !important;
}

[id*="open-accordion"], [id*="close-accordion"] {
  background: #5E0000;
  border-bottom: 1px solid #fff;
  line-height: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 99%;
}

[id*="close-accordion"] {
  display: none;
}

.accordion a {
  color: #fff;
  font-size: 1.25em;
  font-weight: normal;
  padding-left: 2%;
  text-decoration: none;
  text-shadow: none;
}

[id*="open-accordion"]:after, [id*="close-accordion"]:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 5px;
  top: 15px;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.target-fix {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

.accordion-content {
  background: #fff;
  height: 0;
  margin: -1px auto 0;
  padding: 0 2.5%;
  position: relative;
  overflow: hidden;
  width: 90%;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.accordion span:target ~ .accordion-content {
  display: block;
  height: auto;
  padding-bottom: 25px;
  padding-top: 10px;
}

.accordion span:target ~ [id*="close-accordion"] {
  display: block;
}

.accordion span:target ~ [id*="open-accordion"] {
  display: none;
}

.accordion span:target ~ [id*="close-accordion"]:after {
  border-top: 10px solid #333;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
//http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 270px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

//registration
.registration_space{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.card_registration {
  padding:1.5rem;
  box-shadow:0 10px 14px rgba(10,10,10,.6);
  background:whitesmoke;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
  width: 60%;
  margin: 0 auto;
}