$HarvardRed: #5e0000;
$White: #FFFFFF;
$Black: #000000;
$FooterBackground: #161817;
$H1_header: 3rem;
$H3_header: 1.7rem;
$bottomHeight: 20rem;

// Header
//Helps describe where the logo, name and tag-line appear
.header_style {
  color: $White;
  float: left;
  padding-left: 10px;
}

//How Phi Kappa Tau Looks
.phitau_named{
  padding-left: 10px;
}
h1.phitau_named {
  font-size: $H1_header;
}

@media(max-width: 480px) {
  h1.phitau_named {
    font-size: $H1_header;
  }
}

//How Learning Leading Serving Looks
.tag_line {
  padding-left: 10px;
  margin-top: 0px;
}

h3.tag_line {
  font-size: $H3_header;
}

@media(max-width: 480px) {
  h3.tag_line {
    font-size: $H3_header;
  }
}

//Describes how the phi tau crest image looks
.wide img {
  width: 6rem;
  height: auto;
}
//Hides background color when hovering over the header phi tau crest
a.wide.img:hover{
  background-color: transparent !important;
}

//How the header links look
.navbar-inverse .navbar-nav > li > a{
  color: $White;
  font-size: 2rem;
}

//Color of background of the header
.navbar{
  background-color:  $HarvardRed;
}
//End of the header

//Start of the footer
//Hides the background color when hovering over the bottom links
a.nav-item:hover{
  background-color: transparent !important;
}

//Hides background color when hovering over the footer phi tau crest
// and the facebook and twitter links
a.logo:hover{
  background-color: transparent !important;
}

//Sets the footer size and color
.footer {
  padding-top: 5px;
  background-color: $FooterBackground;
}

//Color of the bottom title
.footer_title{
  color: #00A000;
}

//Sets the height and width of facebook and twitter logo
.facebook_twitter_logo {
  width:60px;
  height:60px;
}

//Sets how far away the facebook link is from the phi tau crest
.facebook_link {
  margin-left: 10px;
}

//Sets how far away the twitter link is from the facebook link
.twitter_link{
  margin-left: 15px;
}

//sets footer links color
.footer a {
  color: $White;
}

//End of the footer

//Home Page
//Padding on the unmoveable card
.top-card-padding{
  padding-top: 4rem;
  padding-bottom: 3rem;
}

//picture on the cards
.post_img img{
  width: 100%;
  height: auto;
}
.img_div{
  width: 40%;
  float: left;
  padding-right: 1%;
}

//text on the cards
.post_text{
  padding-left: 0px;
  width: 59%;
  float: right;
}

//Title formatting
.card_header{
  text-align:center;
  text-decoration: underline;
}

//Without this the content won't stay in the card
.clear{
  float: none;
  clear:both;
}

//Centers the paginate text
.center-paginate {
  float: none;
  margin: 0 auto;
}
//End of Home Page
//Start of cards for user account page
.user_img{
  width: 50%;
  float: left;
  height: auto;
}

.user_info{
  float: right;
  width: 50%;
  padding-left: 20px;
}
//Push user edit info link to the right
.push_link_right{
  float: right;
}
//end user account page
//Start devise section
//registration
.registration_space{
  //  margin: 0 auto;
  margin-bottom: 1rem;
  float: none;
}
//end devise section
//Start of contact page

.postition-front-title{
  position: absolute;
  bottom: -5px;
  left: 5px;
  margin-right: 5px;
  color: #ffffff;
  background-color: #5E0000;
}

.postition-front-flip-icon{
  width: auto;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.contact_img{
  width: auto;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.contact-back-background{
  text-align: center;
  color: #ffffff;
  background-color: #5E0000;
  word-wrap: break-word;
}
//end of contact page
//text changes
.black_h2{
  color: $Black;
}
//body
.row {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 3rem;
}
//end body

//text alignment

.navbar-right {
  display: inline-block;
}
@media only screen and (min-width: 1001px) {
  .nav>li>a {
    position: relative;
    top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .collapse {
    display: none !important;
  }
}

.card {
  padding:1.5rem;
  box-shadow:0 10px 14px rgba(10,10,10,.6);
  background: $White;
  border-radius:3px;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
  margin: 0 auto;
  padding-bottom: 3rem;
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #000000;
  margin: 1em 0; padding: 0;
}

//Flipping Cards
//http://codepen.io/elad2412/pen/jyiqw
.flipping-cards li{
  position:relative;
  float:left;
  margin-left: 10px;
  margin-right:10px;
}
.flipping-cards label{  display:block; width:200px; height:250px; cursor:pointer;}

.flipping-cards .wrapper{
  display:block; width:200px; height:250px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transition: all 2.50s;
  -moz-transition: all .50s;
  transition: all .50s;
}
.flipping-cards .wrapper span{
  display:block;
  width:200px;
  height:250px;
  position:absolute;
  top:0;
  left:0;
}

.flipping-cards label .image{
  //  border-radius:10px;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */

  //background-image: repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)), linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
  background-image: url("http://americanmuslimconsumer.com/wp-content/uploads/2013/09/blank-user.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -o-background-size: 100% 100%, auto;
  -moz-background-size: 100% 100%, auto;
  -webkit-background-size: 100% 100%, auto;
  background-size: 100% 100%, auto;
  overflow: hidden;
}

.flipping-cards label .back{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  //backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}



.flipping-cards input[type="checkbox"]:checked + label .wrapper{
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);

}

.flipping-cards input[type="checkbox"]:checked + label .image {
  visibility: hidden;
}

input[type="checkbox"]{display:none;}
ul,li{list-style:none;padding:0;margin:0;}
p{font-weight:bold;}
footer{clear:both; padding-top:20px;font-weight:bold;}
footer a{color:blue;}


/*_________________  Accordion
________________________________________*/
.accordion {
  position: relative;
  margin: 60px auto;
  width: 80%;
}

.accordion:hover{
  background-color: #5E0000 !important;
}

[id*="open-accordion"], [id*="close-accordion"] {
  background: #5E0000;
  border-bottom: 1px solid #fff;
  line-height: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 99%;
}

[id*="close-accordion"] {
  display: none;
}

.accordion a {
  color: #fff;
  font-size: 1.25em;
  font-weight: normal;
  padding-left: 2%;
  text-decoration: none;
  text-shadow: none;
}

[id*="open-accordion"]:after, [id*="close-accordion"]:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 5px;
  top: 15px;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.target-fix {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

.accordion-content {
  background: #fff;
  height: 0;
  margin: -1px auto 0;
  padding: 0 2.5%;
  position: relative;
  overflow: hidden;
  width: 90%;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.accordion span:target ~ .accordion-content {
  display: block;
  height: auto;
  padding-bottom: 25px;
  padding-top: 10px;
}

.accordion span:target ~ [id*="close-accordion"] {
  display: block;
}

.accordion span:target ~ [id*="open-accordion"] {
  display: none;
}

.accordion span:target ~ [id*="close-accordion"]:after {
  border-top: 10px solid #333;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
//http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 270px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.card_registration {
  padding:1.5rem;
  box-shadow:0 10px 14px rgba(10,10,10,.6);
  background:whitesmoke;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
  text-align: center;
}


.sign_up_card{
  width: 50%;
  margin: 0 auto;
}


.col-md-3{
  float: none;
}

.body-wrapper{
  padding-top: $bottomHeight;
}

.alert {
  /* Create the alert box */
}
.alert-success {
  background:green;
  border:1px solid darkgreen;
}
.alert-fail {
  background:red;
  border:1px solid darkred;
}

//faq
a.not-active:hover{
  background-color: $FooterBackground !important;
  border-color: $FooterBackground !important;
}

.faq-cat-content {
  margin-top: 25px;
}

.faq-cat-content a:hover{
  background-color: $FooterBackground;
}

.faq-cat-tabs li a {
  padding: 15px 10px 15px 10px;
  background-color: $FooterBackground;
  color: $White;
  width: 100% ;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
  outline: none;
}

.nav-tabs li {
  padding-right: 4px;
  padding-bottom: 4px;
}

.nav-tabs {
  padding-bottom: 30px;
  width: 100%;
  border-bottom: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
  text-decoration: none;
  color: $FooterBackground;
}

.faq-cat-content .panel-heading:hover {
  background-color: $White;
}

.active-faq {
  border-left: 5px solid #888888;
}

.panel-faq .panel-heading .panel-title span {
  font-size: 13px;
  font-weight: normal;
}

.card_alumni_newsletter {
  padding:1.5rem;
  box-shadow:0 10px 14px rgba(10,10,10,.6);
  background: $White;
  border-radius:3px;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
  margin: 0 auto;

}

.scroll-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;

  /* important:  dimensions or positioning here! */
}
.demo-iframe-holder {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.demo-iframe-holder iframe {
  height: 400px;
  width: 100%;
}


//.logo {
//  color:#fff;
//  font-weight:800;
//  font-size:14pt;
//  padding:25px;
//  text-align:center;
//}
//.line {
//  padding-top:20px;
//  white-space:no-wrap;
//  overflow:hidden;
//  text-align:center;
//}
//.wide {
//  width:100%;
//  height:200px;
//  background-color: $HarvardRed;
//  background-size:cover;
//}
.gallery_images img{
  padding-left: .5rem;
  padding-bottom: .5rem;
  max-width: 250px;
  max-height: 250px;
}

.image_images img{
  width: 30rem;
  height: auto;
  padding-left: .5rem;
  padding-bottom: .5rem;
}
.composite-images {
  max-width: 300px;
  max-height: 200px;
}
.composite-image{
  width: 100%;
  padding-right: 1%;
}
.gallery_imges a.img:hover{
  background-color: transparent !important;
}
.nav-tabs > li > a:hover{
  background-color: $FooterBackground;
  color: $White;
}

//a:hover{
//  background-color: transparent !important;
//}

p {
  font-weight: normal;
}

.posts_checkboxes{
  input[type="checkbox"] {
    display: inline;
  }
}

//alerts
.alert-info {
  background-color: indianred;
  border-color: $Black;
  color: $White;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.notice-info {
  background-color: #428f50;
  border-color: $Black;
  color: $White;
}


//Custom Table (potential user table
#page-wrap {
  margin: 50px;
}
p {
  margin: 20px 0;
}

/*
Generic Styling, for Desktops/Laptops
*/
table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
tr:nth-of-type(even) {
  background: $White;
}
th {
  background: $HarvardRed;
  color: $White;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid $Black;
  text-align: left;
}
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid $Black; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid darkgray;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  .potentials-table td:nth-of-type(1):before { content: "First Name"; }
  .potentials-table td:nth-of-type(2):before { content: "Last Name"; }
  .potentials-table td:nth-of-type(3):before { content: "Phone Number"; }
  .potentials-table td:nth-of-type(4):before { content: "Email"; }
  .potentials-table td:nth-of-type(5):before { content: "City"; }
  .potentials-table td:nth-of-type(6):before { content: "State"; }

  .receipts-table td:nth-of-type(1):before { content: "Total spent"; }
  .receipts-table td:nth-of-type(2):before { content: "Picture of receipt"; }
  .receipts-table td:nth-of-type(3):before { content: "Brother who submitted"; }
  .receipts-table td:nth-of-type(4):before { content: "Seen receipt"; }
  .receipts-table td:nth-of-type(5):before { content: "Show"; }
  .receipts-table td:nth-of-type(6):before { content: "Edit"; }

  .posts-table td:nth-of-type(1):before { content: "Title"; }
  .posts-table td:nth-of-type(2):before { content: "Content"; }
  .posts-table td:nth-of-type(3):before { content: "Top Card?"; }
  .posts-table td:nth-of-type(4):before { content: "Author"; }
  .posts-table td:nth-of-type(5):before { content: "Edit Post"; }
  .posts-table td:nth-of-type(6):before { content: "Delete Post"; }

  .user-all-edit-table td:nth-of-type(1):before { content: "First Name"; }
  .user-all-edit-table td:nth-of-type(2):before { content: "Last Name"; }
  .user-all-edit-table td:nth-of-type(3):before { content: "Email"; }
  .user-all-edit-table td:nth-of-type(4):before { content: "Role"; }
  .user-all-edit-table td:nth-of-type(5):before { content: "Confirmed Brother"; }

  .valentines-table td:nth-of-type(1):before { content: "Red flowers"; }
  .valentines-table td:nth-of-type(2):before { content: "Pink flowers"; }
  .valentines-table td:nth-of-type(3):before { content: "Stuffed animals"; }
  .valentines-table td:nth-of-type(4):before { content: "Buyer name"; }
  .valentines-table td:nth-of-type(5):before { content: "Buyer phone number"; }
  .valentines-table td:nth-of-type(6):before { content: "Receivers name"; }
  .valentines-table td:nth-of-type(7):before { content: "Receivers phone number"; }
  .valentines-table td:nth-of-type(8):before { content: "Delivery location"; }
  .valentines-table td:nth-of-type(9):before { content: "Delivery time"; }
  .valentines-table td:nth-of-type(10):before { content: "Delivery instructions"; }
  .valentines-table td:nth-of-type(11):before { content: "Payment Method"; }
  .valentines-table td:nth-of-type(12):before { content: "Edit Order"; }
  .valentines-table td:nth-of-type(13):before { content: "Delete Order"; }

  .community-service-table td:nth-of-type(1):before { content: "Brothers Name"; }
  .community-service-table td:nth-of-type(2):before { content: "Service Hours"; }
  .community-service-table td:nth-of-type(3):before { content: "Event Name"; }
  .community-service-table td:nth-of-type(4):before { content: "Event Date"; }
  .community-service-table td:nth-of-type(5):before { content: "Event Link"; }
  .community-service-table td:nth-of-type(6):before { content: "Edit"; }

  .brothers-events-table td:nth-of-type(1):before { content: "Service Hours"; }
  .brothers-events-table td:nth-of-type(2):before { content: "Event Name"; }
  .brothers-events-table td:nth-of-type(3):before { content: "Event Date"; }
  .brothers-events-table td:nth-of-type(4):before { content: "Event Link"; }
  .brothers-events-table td:nth-of-type(5):before { content: "Edit"; }

  .brothers-hours-table td:nth-of-type(1):before { content: "Brothers Name"; }
  .brothers-hours-table td:nth-of-type(2):before { content: "Total Hours"; }
  .brothers-hours-table td:nth-of-type(3):before { content: "See All Events"; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {
    padding: 0;
    margin: 0;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 495px;
  }
}
//end of resizeable table

@media (max-width: 1000px) {


  .collapse.in{
    display:block !important;
    overflow: hidden;
  }
}
//Start formating of basic page
html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#wrapper {
  min-height:100%;
  position:relative;
}
#header {
  padding: 5rem;
}
#content {
  padding-bottom: 13rem; /* Height of the footer element */

}
#footer {
  background:#ffab62;
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  left:0;
}
//Helps with internet exploer 5/6
#container {
  height:100%;
}
//End formatting of basic page

@media (max-width: 444px) {
  .recaptchatable #recaptcha_image {
    margin: 0 !important;
    width: 200px !important;
    float:left !important;
  }
  .recaptchatable #recaptcha_image img {
    max-width:100%;
  }
  .recaptchatable .recaptcha_r1_c1, .recaptchatable .recaptcha_r3_c1, .recaptchatable .recaptcha_r3_c2, .recaptchatable .recaptcha_r7_c1, .recaptchatable .recaptcha_r8_c1, .recaptchatable .recaptcha_r3_c3, .recaptchatable .recaptcha_r2_c1, .recaptchatable .recaptcha_r4_c1, .recaptchatable .recaptcha_r4_c2, .recaptchatable .recaptcha_r4_c4, .recaptchatable .recaptcha_image_cell, .recaptchatable .recaptcha_r2_c2 {
    background: none !important;
  }
}

//Box off resources into neater sections
.resources {
//  width: 33%;
  float: left;
  min-height: 200px;
  h2 {
    text-decoration: underline;
  }
}