article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
}

a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

a:hover, a:active {
  outline: 0px;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0px;
}

button, input, select, textarea {
  margin: 0px;
  font-size: 100%;
  vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

body {
  margin: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgb(51, 51, 51);
}

a {
  color: rgb(0, 136, 204);
  text-decoration: none;
}

a:hover, a:focus {
  color: rgb(0, 85, 128);
  text-decoration: underline;
}

.row {
  margin-left: -20px;
}

.row::before, .row::after {
  display: table;
  content: '';
  line-height: 0;
}

.row::after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 940px;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.container::before, .container::after {
  display: table;
  content: '';
  line-height: 0;
}

.container::after {
  clear: both;
}

p {
  margin: 0px 0px 10px;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0px;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: rgb(153, 153, 153);
}

h1, h2, h3 {
  line-height: 40px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

h1 small {
  font-size: 24.5px;
}

h2 small {
  font-size: 17.5px;
}

h3 small {
  font-size: 14px;
}

h4 small {
  font-size: 14px;
}

ul, ol {
  padding: 0px;
  margin: 0px 0px 10px 25px;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0px;
}

li {
  line-height: 20px;
}

dl {
  margin-bottom: 20px;
}

dt, dd {
  line-height: 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 10px;
}

hr {
  margin: 20px 0px;
  border-width: 1px 0px;
  border-top-style: solid;
  border-top-color: rgb(238, 238, 238);
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
}

abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: rgb(153, 153, 153);
}

blockquote {
  padding: 0px 0px 0px 15px;
  margin: 0px 0px 20px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: rgb(238, 238, 238);
}

blockquote p {
  margin-bottom: 0px;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

blockquote small {
  display: block;
  line-height: 20px;
  color: rgb(153, 153, 153);
}

blockquote small::before {
  content: '— ';
}

q::before, q::after, blockquote::before, blockquote::after {
  content: '';
}

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}

code, pre {
  padding: 0px 3px 2px;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 12px;
  color: rgb(51, 51, 51);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

code {
  padding: 2px 4px;
  color: rgb(221, 17, 68);
  border: 1px solid rgb(225, 225, 232);
  white-space: nowrap;
  background-color: rgb(247, 247, 249);
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0px 0px 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  border: 1px solid rgba(0, 0, 0, 0.14902);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgb(245, 245, 245);
}

pre code {
  padding: 0px;
  color: inherit;
  white-space: pre-wrap;
  border: 0px;
  background-color: transparent;
}

form {
  margin: 0px 0px 20px;
}

fieldset {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

legend {
  display: block;
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: rgb(51, 51, 51);
  border-width: 0px 0px 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(229, 229, 229);
}

legend small {
  font-size: 15px;
  color: rgb(153, 153, 153);
}

label, input, button, select, textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input, button, select, textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  height: auto;
}

input[type="radio"], input[type="checkbox"] {
  margin: 4px 0px 0px;
  line-height: normal;
}

input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
  width: auto;
}

select, input[type="file"] {
  height: 30px;
  line-height: 30px;
}

select {
  width: 220px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
}

select[multiple], select[size] {
  height: auto;
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgb(153, 153, 153);
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  cursor: not-allowed;
  background-color: rgb(238, 238, 238);
}

input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] {
  background-color: transparent;
}

input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
  color: rgb(185, 74, 72);
  border-color: rgb(238, 95, 91);
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
  border-color: rgb(233, 50, 45);
  -webkit-box-shadow: rgb(248, 185, 183) 0px 0px 6px;
  box-shadow: rgb(248, 185, 183) 0px 0px 6px;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  background-color: transparent;
}

.navbar .container {
  width: auto;
}

.navbar .brand {
  float: left;
  display: block;
  padding: 10px 20px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: rgb(119, 119, 119);
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}

.navbar .brand:hover, .navbar .brand:focus {
  text-decoration: none;
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 940px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: rgb(153, 153, 153);
  text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
}

.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus {
  color: rgb(255, 255, 255);
}

.navbar-inverse .brand {
  color: rgb(153, 153, 153);
}

[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

a [class^="icon-"], a [class*=" icon-"] {
  display: inline;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  margin-top: 0px;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: none;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  background-color: transparent;
}

a img {
  border: 0px;
}

form {
  margin: 0px 0px 20px;
}

fieldset {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: rgb(51, 51, 51);
  border-width: 0px 0px 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(229, 229, 229);
  padding: 0px;
}

legend small {
  font-size: 15px;
  color: rgb(153, 153, 153);
}

label, input, button, select, textarea {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

input, button, select, textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

textarea {
  height: 15rem;
  font-size: 1.7rem;
  width: 100%;
  line-height: 1.4;
  padding: 1.5rem;
}

input[type="radio"], input[type="checkbox"] {
  line-height: normal;
  cursor: pointer;
}

select, input[type="file"] {
  height: 30px;
  margin-top: 4px;
  line-height: 30px;
}

select {
  width: 220px;
  border: 1px solid rgb(187, 187, 187);
  max-width: 100%;
  background-color: rgb(255, 255, 255);
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline-offset: -2px;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  cursor: not-allowed;
  background-color: rgb(238, 238, 238);
}

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
  color: rgb(185, 74, 72);
  border-color: rgb(238, 95, 91);
}

input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
  -webkit-box-shadow: rgb(248, 185, 183) 0px 0px 6px;
  box-shadow: rgb(248, 185, 183) 0px 0px 6px;
  border-color: rgb(233, 50, 45);
}

a {
  color: rgb(231, 137, 112);
  text-decoration: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

a:hover {
  color: rgb(231, 137, 112);
  opacity: 0.7;
}

img, video {
  max-width: 100%;
  width: 100%;
  height: auto;
}

label small {
  font-size: 1.2rem;
  line-height: 2.4rem;
}

label input {
  position: relative;
  top: -4px;
  display: inline-block;
  margin-right: 12px;
}

li label, li label i {
  font-size: 1.3rem;
  display: inline-block;
  width: 100%;
  line-height: 1.8rem;
}

li label i {
  display: block;
  font-style: italic;
}

.form-section .row {
  padding-bottom: 4rem;
  margin-bottom: 3rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(204, 204, 204);
}

.form-section:last-child .row {
  border-bottom-style: none;
}

.modal .row {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

* {
  box-sizing: border-box;
}

.row {
  width: 100%;
  zoom: 1;
  margin-bottom: 3rem;
}

.row::before, .row::after {
  display: table;
  line-height: 0;
  content: '';
}

[class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 3rem;
  margin-left: 2.5109110747409%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: rgb(55, 54, 51);
}

body {
  font-family: elena-web-basic, sans-serif;
  color: rgb(106, 106, 106);
  -webkit-font-smoothing: antialiased;
  background: #cfb53b;
}

.container {
  max-width: 134rem;
  width: 100%;
  zoom: 1;
  margin: 0px auto;
  padding: 3rem 5rem;
}

.mobile-nav li .nav-item {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
  height: 4rem;
  line-height: 4rem;
  color: rgb(102, 102, 102);
  padding: 0px 1rem;
}

header[role="banner"] {
  margin-bottom: 0px;
  color: inherit;
  width: 100%;
  position: relative;
  min-height: 5rem;
  background-color: #5E0000;
  #background: url(http://1.bp.blogspot.com/-y6CYmtafumU/UtkWSWZ0aCI/AAAAAAAABUM/iELJPF8Oc8o/s1600/2013-09-Red-Simple-Background-Wallpaper.png) 100% 100% / cover;
}

header[role="banner"] .container {
  position: relative;
  z-index: 1;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

header[role="banner"] .brand {
  display: inline-block;
  margin-left: 0px;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: none;
  color: rgb(255, 255, 255);
  height: 6.4rem;
  line-height: 7.3rem;
}

header[role="banner"] .brand img {
  float: left;
  margin-right: 1.5rem;
  width: 7rem;
}

header[role="banner"] .nav-links {
  float: right;
  display: block;
}

header[role="banner"] .nav-links > li {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 2rem 0px 0px 1rem;
}

header[role="banner"] .nav-links > li a.selected {
  opacity: 0.8;
  pointer-events: none;
}

header[role="banner"] .nav-links > li > .nav-item {
  display: block;
  height: 3rem;
  font-size: 1.7rem;
  line-height: 3.4rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 0px 0.4rem 3.1rem;
}

header[role="banner"] .nav-links > li > .nav-item:last-child {
  padding-right: 0px;
}

header[role="banner"] .nav-links > li .nav-dropdown {
  display: none;
  position: absolute;
  width: 110%;
  left: 0.5rem;
}

header[role="banner"] .nav-links > li .nav-dropdown li {
  height: 18px;
}

header[role="banner"] .nav-links > li .nav-dropdown a {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

footer[role="contentinfo"] {
  margin-top: 6rem;
}

footer[role="contentinfo"] .footer-primary {
  background: rgb(22, 24, 23);
}

footer[role="contentinfo"] .footer-primary .container {
  padding: 6rem 2.5rem 6rem 5rem;
}

footer[role="contentinfo"] .brand {
  zoom: 1;
  float: left;
}

footer[role="contentinfo"] .brand .logo {
  float: left;
  margin-right: 1.5rem;
}

footer[role="contentinfo"] .brand .logo img {
  width: 7.5rem;
}

footer[role="contentinfo"] .brand .body {
  float: left;
  width: auto;
  padding-top: 0.5rem;
}

footer[role="contentinfo"] .brand .body .heading {
  float: left;
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-right: 15px;
  letter-spacing: 0.05em;
}

footer[role="contentinfo"] .brand .body .ss-icon {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-left: 0.3rem;
  float: right;
  padding: 0px 0.5rem 0px 0.4rem;
}

footer[role="contentinfo"] .brand .body .subheading {
  display: block;
  margin-top: 0px;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-style: italic;
  white-space: nowrap;
}

footer[role="contentinfo"] .footer-nav {
  width: 58%;
  float: right;
}

footer[role="contentinfo"] .footer-nav > li {
  float: left;
  width: 33.33333%;
  padding-left: 3rem;
  margin-bottom: 2rem;
  list-style-type: none;
}

footer[role="contentinfo"] .footer-nav > li.service {
  width: 100%;
  margin-bottom: 0px;
}

footer[role="contentinfo"] .footer-nav > li > ul > li > h2, footer[role="contentinfo"] .copy .footer-nav > li > ul > li > h2, .copy footer[role="contentinfo"] .footer-nav > li > ul > li > h2, footer[role="contentinfo"] .copy .footer-nav > li > ul > li > dt, .copy footer[role="contentinfo"] .footer-nav > li > ul > li > dt {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color: rgb(255, 255, 255);
  margin-bottom: 13px;
}

footer[role="contentinfo"] .footer-nav > li > ul > li > a {
  display: block;
  font-family: elena-web-basic, sans-serif;
  color: rgb(231, 137, 112);
  font-size: 1.8rem;
  padding-bottom: 0.6rem;
}

footer[role="contentinfo"] .footer-secondary .container {
  overflow: hidden;
  padding: 1.2rem 5rem;
}

.gift-list .container > p, .gift-list .container > address, .gift-list .copy .container > dd, .copy .gift-list .container > dd {
  margin: 4rem;
}

.gift-list-filter-header .container, .section-header .container {
  padding-top: 0px;
  padding-bottom: 0px;
}

blockquote {
  font-style: italic;
  text-indent: 0px;
  font-size: 2.6rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 4.2rem;
  line-height: 4.8rem;
  font-style: normal;
  font-weight: 400;
  font-family: elena-web-basic, sans-serif;
}

h3 {
  font-family: elena-web-basic, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1rem;
  margin-bottom: 0.75rem;
}

h4 {
  font-family: elena-web-basic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.617708325386rem;
}

h5 {
  font-style: normal;
  font-weight: 400;
  font-family: elena-web-basic, sans-serif;
  font-size: 1em;
  line-height: 1.617708325386rem;
}

h6 {
  font-family: elena-web-basic, sans-serif;
  font-style: italic;
  margin-bottom: 1.5625rem;
  font-size: 1rem;
}

.sans-stack, .alert p, .alert address, .alert .copy dd, .copy .alert dd, .mobile-nav li .nav-item, .sans-stack-thin, button.btn, input.btn, .btn, .container.notifications, .table th, header[role="banner"] .brand, header[role="banner"] .header-content p, header[role="banner"] .header-content address, header[role="banner"] .header-content .copy dd, .copy header[role="banner"] .header-content dd, footer[role="contentinfo"] .brand .body .heading, footer[role="contentinfo"] .footer-nav > li > ul > li > h2, footer[role="contentinfo"] .copy .footer-nav > li > ul > li > h2, .copy footer[role="contentinfo"] .footer-nav > li > ul > li > h2, footer[role="contentinfo"] .copy .footer-nav > li > ul > li > dt, .copy footer[role="contentinfo"] .footer-nav > li > ul > li > dt, footer[role="contentinfo"] .footer-secondary p, footer[role="contentinfo"] .footer-secondary address, footer[role="contentinfo"] .footer-secondary .copy dd, .copy footer[role="contentinfo"] .footer-secondary dd, footer[role="contentinfo"] .footer-secondary .credit, .gift-category-title h1, .gift-list-filter li a, .navs li a, .gift-list-filter li span, .navs li span, .gift-list-sort p, .gift-list-sort address, .gift-list-sort .copy dd, .copy .gift-list-sort dd, .gift-list-sort a, .gift .gift-rollover p, .gift .gift-rollover address, .gift .gift-rollover .copy dd, .copy .gift .gift-rollover dd, .gift-list-grid li:not(.purchased) .gift-rollover p, .gift-list-grid li:not(.purchased) .gift-rollover address, .gift-list-grid li:not(.purchased) .gift-rollover .copy dd, .copy .gift-list-grid li:not(.purchased) .gift-rollover dd, .gift-list-grid li.featured article .gift-message a, .gift-list-grid li.featured article .gift-message p.signature, .gift-list-grid li.featured article .gift-message address.signature, .gift-list-grid li.featured article .gift-message .copy dd.signature, .copy .gift-list-grid li.featured article .gift-message dd.signature, .datepicker, blockquote, h2, .copy h2, .copy dt, .fancy-title, .callouts h2, .callouts .copy h2, .copy .callouts h2, .callouts .copy dt, .copy .callouts dt, .home-signup-link a, .thankful-for p, .thankful-for address, .thankful-for .copy dd, .copy .thankful-for dd, .account .account-nav ul li a, .account .account-nav .share-list, .account .masthead .quick-info, .page-header h1, .sign-up .sign-up-top .container .navs li span, .sign-up .sign-up-progress ul li a, .simple body, .simple .brand, .sans-stack-regular, .feature h1, .sans-stack-bold, .mobile-nav .nav-dropdown a, header[role="banner"] .nav-links > li > .nav-item, header[role="banner"] .nav-links > li .nav-dropdown a, .btn-container .btn, .btn-container-right .btn, .btn-container-left .btn, .simple .navbar h1 {
  font-family: colfax-web, Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  -webkit-font-smoothing: subpixel-antialiased;
}

.sans-stack-thin, button.btn, input.btn, .btn, .container.notifications, .table th, header[role="banner"] .brand, header[role="banner"] .header-content p, header[role="banner"] .header-content address, header[role="banner"] .header-content .copy dd, .copy header[role="banner"] .header-content dd, footer[role="contentinfo"] .brand .body .heading, footer[role="contentinfo"] .footer-nav > li > ul > li > h2, footer[role="contentinfo"] .copy .footer-nav > li > ul > li > h2, .copy footer[role="contentinfo"] .footer-nav > li > ul > li > h2, footer[role="contentinfo"] .copy .footer-nav > li > ul > li > dt, .copy footer[role="contentinfo"] .footer-nav > li > ul > li > dt, footer[role="contentinfo"] .footer-secondary p, footer[role="contentinfo"] .footer-secondary address, footer[role="contentinfo"] .footer-secondary .copy dd, .copy footer[role="contentinfo"] .footer-secondary dd, footer[role="contentinfo"] .footer-secondary .credit, .gift-category-title h1, .gift-list-filter li a, .navs li a, .gift-list-filter li span, .navs li span, .gift-list-sort p, .gift-list-sort address, .gift-list-sort .copy dd, .copy .gift-list-sort dd, .gift-list-sort a, .gift .gift-rollover p, .gift .gift-rollover address, .gift .gift-rollover .copy dd, .copy .gift .gift-rollover dd, .gift-list-grid li:not(.purchased) .gift-rollover p, .gift-list-grid li:not(.purchased) .gift-rollover address, .gift-list-grid li:not(.purchased) .gift-rollover .copy dd, .copy .gift-list-grid li:not(.purchased) .gift-rollover dd, .gift-list-grid li.featured article .gift-message a, .gift-list-grid li.featured article .gift-message p.signature, .gift-list-grid li.featured article .gift-message address.signature, .gift-list-grid li.featured article .gift-message .copy dd.signature, .copy .gift-list-grid li.featured article .gift-message dd.signature, .datepicker, blockquote, h2, .copy h2, .copy dt, .fancy-title, .callouts h2, .callouts .copy h2, .copy .callouts h2, .callouts .copy dt, .copy .callouts dt, .home-signup-link a, .thankful-for p, .thankful-for address, .thankful-for .copy dd, .copy .thankful-for dd, .account .account-nav ul li a, .account .account-nav .share-list, .account .masthead .quick-info, .page-header h1, .sign-up .sign-up-top .container .navs li span, .sign-up .sign-up-progress ul li a, .simple body, .simple .brand {
  font-weight: 300;
}

.feature .container {
  position: absolute;
  top: 34%;
  z-index: 2;
  max-width: 100%;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.thankful-for .container {
  padding: 7rem 5rem 6rem;
}

.account .masthead .container {
  padding-top: 37px;
  padding-bottom: 33px;
}

.page-content .container {
  max-width: 134rem;
}

.page-header .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.sign-up .sign-up-top .container .navs {
  padding-top: 0px !important;
}

.sign-up .sign-up-top .container .navs li {
  min-height: 0px;
}

.sign-up .sign-up-top .container .navs li span {
  font-size: 1.6rem;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  display: block;
  color: rgb(106, 106, 106);
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.sign-up .sign-up-top .container .navs li span::after {
  display: inline-block;
  color: rgb(106, 106, 106);
  content: '▹';
  font-family: thankful;
  font-size: 1.3rem;
  position: absolute;
  right: 0px;
  top: 2px;
}

.sign-up .sign-up-progress .container {
  padding: 0px;
}

.simple .container {
  max-width: 500px;
  z-index: 1;
  position: relative;
  padding: 0px;
}

.simple header .container {
  position: relative;
  z-index: 1;
}

.simple .brand {
  font-size: 3rem;
  height: 6.4rem;
  line-height: 7.3rem;
  float: left;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 0.05em;
  padding: 0px 0px 0px 7.7rem;
  background-image: url(http://d3krjgdh5n3zsi.cloudfront.net/assets/logo-white-14c2d873793cda7fc79a662938db4420.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.press-logos .container {
  padding: 5rem 0px;
}

[data-icon]::before {
  font-family: thankful;
  content: attr(data-icon);
  speak: none;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

article, aside, figure, figure img, footer, header, nav, section, .open > .dropdown-menu, .dropdown-submenu:hover .dropdown-menu, .show, header[role="banner"] .nav-links > li:hover .nav-dropdown, footer[role="contentinfo"] .footer-nav > li > ul, footer[role="contentinfo"] .footer-nav > li > ul > li, .browser-safari .browser-step.safari, .browser-chrome .browser-step.chrome, .browser-firefox .browser-step.firefox, .browser-generic .browser-step.generic, .gift-list-filter, .navs, .gift-list-grid li.purchased .gift-btn-group.purchased, .gift-list-grid li.featured article .gift-message, .sign-up .next-sign-up-step-container.skippable .skip-step-option, .sign-up .is-loading .image-loading, .copy.linkable-sections h2, .copy.linkable-sections dt, #how-it-works section.featured-examples .featured-image, .press-logos .press-logo img, html[xmlns] .slides, .no-js .slides > li:first-child {
  display: block;
}

.clearfix::after, .controls-row::after, .form-actions::after, .form-horizontal .control-group::after, .modal-footer::after, .row::after, .image-container p.caption, .image-container address.caption, .image-container .copy dd.caption, .copy .image-container dd.caption {
  clear: both;
}

.card {
  padding:1.5rem;
  box-shadow:0 10px 14px rgba(10,10,10,.6);
  background:white;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
  width: 70%;
  margin: 0 auto;
}

.body-container {
  max-width: 134rem;
  width: 100%;
  zoom: 1;
  margin: 0px auto;
  padding: 3rem 5rem;
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #000000;
  margin: 1em 0; padding: 0;
}




.flipping-cards li{position:relative; float:left; margin-right:10px;}
.flipping-cards label{ display:block; width:200px; height:250px; cursor:pointer;}

.flipping-cards .wrapper{
  display:block; width:200px; height:250px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transition: all 2.50s;
  -moz-transition: all .50s;
  transition: all .50s;
}
.flipping-cards .wrapper span{
  display:block;
  width:200px;
  height:250px;
  position:absolute;
  top:0;
  left:0;
  margin-left: 2px;
  margin-right: 2px;
}

.flipping-cards label .front{
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
  background-size: 70px 120px;
  background-color: #fff;
}

.flipping-cards label .back{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
  background-color: #fff;
}

.flipping-cards input[type="checkbox"]:checked + label .wrapper{
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

input[type="checkbox"]{display:none;}
ul,li{list-style:none;padding:0;margin:0;}

/*_________________  Accordion
________________________________________*/
.accordion {
  position: relative;
  margin: 60px auto;
  width: 80%;
}

[id*="open-accordion"], [id*="close-accordion"] {
  background: #5E0000;
  border-bottom: 1px solid #fff;
  line-height: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 99%;
}

[id*="close-accordion"] {
  display: none;
}

.accordion a {
  color: #fff;
  font-size: 1.25em;
  font-weight: normal;
  padding-left: 2%;
  text-decoration: none;
  text-shadow: none;
}

[id*="open-accordion"]:after, [id*="close-accordion"]:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 5px;
  top: 15px;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.target-fix {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

.accordion-content {
  background: #fff;
  height: 0;
  margin: -1px auto 0;
  padding: 0 2.5%;
  position: relative;
  overflow: hidden;
  width: 90%;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.accordion span:target ~ .accordion-content {
  display: block;
  height: auto;
  padding-bottom: 25px;
  padding-top: 10px;
}

.accordion span:target ~ [id*="close-accordion"] {
  display: block;
}

.accordion span:target ~ [id*="open-accordion"] {
  display: none;
}

.accordion span:target ~ [id*="close-accordion"]:after {
  border-top: 10px solid #333;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
//http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 270px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }