<div class="row">
  <div class="col-xl-8 col-md-8 col-xs-8 col-xl-offset-4 col-md-offset-2 col-xs-offset-2">
    <div class="card">

      <h1>
        Event:  <%= @attendance.event.name %>
      </h1>

      <p style="display: inline">Brothers who attended: </p>

      <% @attendance.users.each do |user| %>
          <p style="display: inline"><%= user.name %>,</p>
      <% end %>
      <br><br>
      <%= link_to 'Edit', edit_attendance_path(@attendance) %> |
      <%= link_to 'Back', attendances_path %>
    </div>
  </div>
</div>
